<script setup>

</script>

<template>
  <section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1 class="max-w-[600px] mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl text-primary">
          Cari produk murah dan berkuliatas?
          Lorem solusinya
        </h1>
        <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl text-base-200">
          Lorem adalah destinasi belanja online yang sempurna bagi mereka yang menyukai kualitas, nilai, dan pengalaman berbelanja yang menyenangkan.
        </p>
        <div class="relative cursor-pointer inline-block text-sm font-medium text-primary group active:text-orange-500 focus:outline-none focus:ring">
          <span
            class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-primary group-hover:translate-y-0 group-hover:translate-x-0"
          />

          <span class="relative block px-6 py-3 bg-[#1A2238] border border-current">
            Ayo cari produkmu
          </span>
        </div>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <img
          src="/market.svg"
          alt="hero image"
        >
      </div>
    </div>
  </section>
</template>
