<script setup>
import { getProduct } from '@/services/product.service.js'
import { onMounted, reactive } from 'vue'

import errorProduct from '@/components/product/error.product.vue'

const state = reactive({
  statusProduct: 'loading',
  products: [],
  filter: {
    page: 1,
    limit: 10,
    category: ''
  }
})

async function handleGetProduct () {
  state.statusProduct = 'loading'
  try {
    const { data } = await getProduct(state.filter)
    state.products = data.docs
    state.filter.page = data.page
    state.statusProduct = 'success'
  } catch (error) {
    state.statusProduct = 'error'
  }
}

onMounted(() => {
  handleGetProduct()
})

function formatRupiah (price) {
  return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 }).format(price)
}

</script>

<template>
  <section class=" w-full bg-white dark:bg-gray-900">
    <div class="w-full px-4 py-8 mx-auto lg:py-24 lg:px-6">
      <h2 class="text-center mb-4 text-3xl font-extrabold tracking-tight text-primary">
        Ayo cari product keperluanmu
      </h2>
      <p class="text-center mb-6 font-light text-white">
        Temukan produk terbaik untuk semua kebutuhan Anda! <br>
        Mulai dari pakaian, makanan hingga peralatan elektronik, kami memiliki yang Anda cari. <br>
        Jelajahi koleksi kami sekarang!
      </p>
      <div class="flex justify-center">
        <div class="flex p-4 gap-4 w-max overflow-x-scroll">
          <template v-if="state.statusProduct === 'loading'">
            <div>ini loading</div>
          </template>
          <template v-else-if="state.statusProduct === 'success'">
            <template v-if="state.products.length">
              <div
                v-for="(product,index) in state.products"
                :key="index"
                class="w-[250px] flex-shrink-0 text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white"
              >
                <img
                  :src="product.image"
                  :alt="product.image"
                  class="w-full h-44 object-cover"
                >
                <div class="p-4 space-y-3 text-center">
                  <div>{{ product.name }}</div>
                  <div>
                    <del class="text-gray-400">
                      {{ formatRupiah(product.price) }}
                    </del>
                    <div class="text-lg">
                      {{ formatRupiah(product.price) }}
                    </div>
                  </div>
                  <div class="relative cursor-pointer inline-block text-sm font-medium text-primary group active:text-orange-500 focus:outline-none focus:ring">
                    <span
                      class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-primary group-hover:translate-y-0 group-hover:translate-x-0"
                    />

                    <span class="relative block px-6 py-3 bg-[#1A2238] border border-current">
                      Beli sekarang
                    </span>
                  </div>
                </div>
              </div>
            </template>
            <template v-else>
              <div class="text-2xl text-gray-400 text-center px-44">
                "Tampaknya produk Lorem sedang tidak tersedia saat ini. Kami mohon maaf atas ketidaknyamanan ini. Silakan kunjungi kami lagi di lain waktu untuk mengecek ketersediaannya atau jelajahi produk-produk kami yang lain. Terima kasih atas pengertian dan dukungan Anda."
              </div>
            </template>
          </template>
          <template v-else>
            <div><error-product /></div>
          </template>
        </div>
      </div>
    </div>
  </section>
</template>
