<script setup>
import landingPageHero from '@/components/landing-page/hero.vue'
import landingPageSponsor from '@/components/landing-page/sponsor.vue'
import landingPageAbout from '@/components/landing-page/about.vue'
import landingPageProduct from '@/components/landing-page/product.vue'
import landingPageFooter from '@/components/landing-page/footer.vue'

</script>

<template>
  <landing-page-hero />
  <landing-page-sponsor />
  <landing-page-about />
  <landing-page-product />
  <landing-page-footer />
</template>
