<script setup>
import { reactive } from 'vue'
import { useRouter } from 'vue-router'
import { login } from '@/services/auth.sservice.js'
import { useAuthStore } from '@/stores/auth.store.js'

import uiInput from '@/components/ui/ui-input.vue'
import tokenLocalStorage from '@/helpers/token'

const auth = useAuthStore()
const router = useRouter()
const state = reactive({
  email: '',
  password: ''
})

async function handleLogin () {
  try {
    const { data: { token } } = await login(state)
    tokenLocalStorage.setToken(token)
    auth.setToken(token)
    router.replace('/user/home')
  } catch (error) {
    console.log(error)
  }
}

</script>

<template>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img
        class="mx-auto h-10 w-auto"
        src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
        alt="Your Company"
      >
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">
        Sign in to your account
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div
        class="space-y-10"
      >
        <div class="space-y-2">
          <ui-input
            v-model="state.email"
            label="Email"
            placeholder="Masukkan email"
          />
          <ui-input
            v-model="state.password"
            label="Password"
            type="password"
            placeholder="Masukkan password"
          />
        </div>
        <button
          class="btn w-full rounded bg-primary border-primary text-white"
          @click="handleLogin"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</template>
