<script setup>
import { onMounted, reactive } from 'vue'
import { getProduct } from '@/services/product.service.js'

import tableProduct from '@/components/product/table-product.vue'
import modalProduct from '@/app/modal/modal-product.vue'
import { openModal } from '@/helpers/modal.js'

const state = reactive({
  statusProduct: 'loading',
  products: [],
  filter: {
    page: 1,
    limit: 10,
    category: ''
  }
})

async function handleGetProduct () {
  state.statusProduct = 'loading'
  try {
    const { data } = await getProduct(state.filter)
    state.products = data.docs
    state.filter.page = data.page
    state.statusProduct = 'success'
  } catch (error) {
    state.statusProduct = 'error'
  }
}

onMounted(() => {
  handleGetProduct()
})

function handleOpenModalCreateProduct () {
  openModal('create-product-modal')
}

</script>

<template>
  <div class="p-4 w-full">
    <div class="flex justify-between">
      <div class="text-3xl font-medium">
        Product
      </div>
      <div
        class="relative inline-block cursor-pointer text-sm font-medium text-primary group focus:outline-none focus:ring"
        @click="handleOpenModalCreateProduct"
      >
        <span
          class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-primary group-hover:translate-y-0 group-hover:translate-x-0"
        />
        <span class="relative block px-4 py-3 bg-[#1A2238] border border-current">
          Tambah Product
        </span>
      </div>
    </div>
    <div class="mt-6 w-full">
      <table-product
        :products="state.products"
        :status-product="state.statusProduct"
        @delete="handleGetProduct"
      />
    </div>
  </div>

  <Teleport to="body">
    <modal-product @refresh-product="handleGetProduct" />
  </Teleport>
</template>
