<script setup>
import sidebarItems from '@/layout/sidebar/sidebar.js'
import { useRoute, useRouter } from 'vue-router'

const router = useRouter()
const route = useRoute()

async function handleRedirectPage (page) {
  router.push(page)
}

</script>

<template>
  <div
    class="px-4 top-0 bottom-0 z-10 sticky h-[calc(100vh-65px)] w-80 bg-gray-800 border-e-gray-800 overflow-y-scroll shadow-sm border-e"
  >
    <div class="text-gray-400 ">
      <ul>
        <li
          v-for="item in sidebarItems"
          :key="item.path"
          class="relative px-6 py-3 hover:bg-gray-600 rounded-md"
          @click="handleRedirectPage(item.path)"
        >
          <span
            class="absolute inset-y-0 left-0 w-1 rounded-tr-lg rounded-br-lg"
            :class="{'bg-primary': route.fullPath === item.path}"
          />
          <div
            class="flex font-poppins gap-3 items-center  cursor-pointer w-full text-sm font-semibold  text-gray-100"
            :class="{'text-primary': route.fullPath === item.path}"
          >
            <i
              class="text-xl font-semibold"
              :class="item.icon"
            />
            <span>{{ item.title }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
