<template>
  <div
    v-for="index in 6"
    :key="index"
    class="grid grid-cols-2 lg:grid-cols-10 w-full border-b gap-1.5 space-y-1.5 border-gray-800"
  >
    <div class=" h-8 py-4 px-6 my-1.5 rounded animate-pulse bg-gray-700 col-span-1" />
    <div class=" h-8 py-4 px-6 rounded animate-pulse bg-gray-700 col-span-2" />
    <div class=" h-8 py-4 px-6 rounded animate-pulse bg-gray-700 col-span-2" />
    <div class=" h-8 py-4 px-6 rounded animate-pulse bg-gray-700 col-span-1" />
    <div class=" h-8 py-4 px-6 rounded animate-pulse bg-gray-700 col-span-2" />
    <div class=" h-8 py-4 px-6 rounded animate-pulse bg-gray-700 col-span-2" />
  </div>
</template>
