<script setup>
import { deleteProduct } from '@/services/product.service.js'
import loadingProduct from '@/components/product/loading-product.vue'
import errorProduct from '@/components/product/error.product.vue'

const emits = defineEmits(['delete'])

defineProps({
  products: {
    type: Array,
    default: () => []
  },
  statusProduct: {
    type: String,
    default: ''
  }
})

async function handleDeleteProduct (id) {
  try {
    await deleteProduct(id)
    emits('delete')
  } catch (error) {

  }
}

function formatRupiah (price) {
  return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 }).format(price)
}

</script>

<template>
  <div class="w-full">
    <div class="grid grid-cols-2 lg:grid-cols-10 w-full">
      <div class="bg-gray-800 text-gray-400 py-4 px-6 col-span-1">
        Image
      </div>
      <div class="bg-gray-800 text-gray-400 py-4 px-6 col-span-2">
        Name
      </div>
      <div class="bg-gray-800 text-gray-400 py-4 px-6 col-span-2">
        Category
      </div>
      <div class="bg-gray-800 text-gray-400 py-4 px-6 col-span-1">
        Stock
      </div>
      <div class="bg-gray-800 text-gray-400 py-4 px-6 col-span-2">
        Price
      </div>
      <div class="bg-gray-800 text-gray-400 py-4 px-6 col-span-2">
        Action
      </div>
    </div>
    <template v-if="statusProduct === 'loading'">
      <loading-product />
    </template>
    <template v-else-if="statusProduct === 'success'">
      <div
        v-if="!products.length"
        class="mt-10 flex justify-center items-center text-gray-400"
      >
        <div class="w-[220px] text-center">
          Tidak ada product silahkan tambahkan terlebih dahulu
        </div>
      </div>
      <div
        v-for="(product,index) in products"
        :key="index"
        class="grid grid-cols-2 lg:grid-cols-10 w-full border-b border-gray-800"
      >
        <div class="py-4 px-6 col-span-1">
          <img
            :src="product.image"
            class="w-12 h-12 rounded object-cover"
            :alt="product.name"
          >
        </div>
        <div class="py-4 px-6 col-span-2 flex items-center">
          {{ product.name }}
        </div>
        <div class="py-4 px-6 col-span-2 flex items-center">
          {{ product.category }}
        </div>
        <div class="py-4 px-6 col-span-1 flex items-center">
          {{ product.stock }}
        </div>
        <div class="py-4 px-6 col-span-2 flex items-center">
          {{ formatRupiah(product.price) }}
        </div>
        <div class="py-4 px-6 col-span-1 flex justify-center items-center gap-2">
          <div class="relative cursor-pointer inline-block text-sm font-medium text-primary group active:text-orange-500 focus:outline-none focus:ring">
            <span
              class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-primary group-hover:translate-y-0 group-hover:translate-x-0"
            />

            <span class="relative block px-4 py-2 bg-[#1A2238] border border-current">
              Edit
            </span>
          </div>
          <div
            class="relative inline-block cursor-pointer text-sm font-medium text-red-500 group active:text-red-500 focus:outline-none focus:ring"
            @click="handleDeleteProduct(product._id)"
          >
            <span
              class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-red-600 group-hover:translate-y-0 group-hover:translate-x-0"
            />

            <span class="relative block px-4 py-2 bg-[#1A2238] border border-current">
              Delete
            </span>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <error-product />
    </template>
  </div>
</template>
