<script setup>
import tokenLocalStorage from '@/helpers/token'

import { useAuthStore } from '@/stores/auth.store.js'
import { useRouter } from 'vue-router'

const auth = useAuthStore()
const router = useRouter()

function handleLogout () {
  tokenLocalStorage.removeAuth()
  auth.unsetAuth()
  router.replace('/login')
}
</script>

<template>
  <div class="z-20 py-4 bg-gray-800 sticky top-0">
    <div
      class="flex items-center justify-end h-full px-6 text-zinc-50"
    >
      <div class="dropdown dropdown-end">
        <button
          tabindex="0"
          class="btn btn-circle bg-gray-300 !rounded-full btn-sm"
        >
          <span>A</span>
        </button>
        <ul
          tabindex="0"
          class="dropdown-content bg-gray-700 z-[1] menu p-2 shadow rounded w-52"
        >
          <li
            class="rounded hover:bg-gray-800"
            @click="handleLogout"
          >
            <div class="flex gap-3 items-center">
              <i class="bi bi-box-arrow-in-left text-xl text-error" />
              <a>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
