<script setup>
import { reactive } from 'vue'
import { addProduct } from '@/services/product.service.js'
import { ref, getStorage, getDownloadURL, uploadBytes } from 'firebase/storage'
import { closeModal } from '@/helpers/modal'
import { readPreviewFile } from '@/helpers/file'

const storage = getStorage()

const emits = defineEmits('refresh-product')
const props = defineProps({
  id: {
    type: String,
    default: 'create-product-modal'
  }
})

const picture = reactive({
  file: null,
  preview: ''
})

const product = reactive({
  image: '',
  name: '',
  category: 'foods',
  stock: 0,
  price: 0,
  isLoading: false
})

const categories = [
  {
    key: 'foods',
    title: 'Makanan'
  },
  {
    key: 'electronics',
    title: 'Elektronik'
  },
  {
    key: 'fashions',
    title: 'Pakaian'
  }
]

async function handleAddProduct () {
  product.isLoading = true
  try {
    await uploadFile()

    const { image, name, category, stock, price } = product
    await addProduct({ image, name, category, stock, price })
    closeModal(props.id)
    emits('refresh-product')
  } catch (error) {
    console.log(error)
  } finally {
    product.isLoading = false
  }
}

function handleSelectCategory (category) {
  console.log(category)
  product.category = category
}

async function uploadFile () {
  try {
    const storageRef = ref(storage, 'product/' + picture.file.name)
    await uploadBytes(storageRef, picture.file)
    const downloadURL = await getDownloadURL(storageRef)
    product.image = downloadURL
  } catch (error) {
    throw Error('upload file failed')
  }
}

async function handleUpload ({ target }) {
  const file = target.files[0]
  const maxSizePicture = 5 * 1024 * 1024
  if (file.size > maxSizePicture) {
    console.log('file melebihi size')
  }
  const result = await readPreviewFile(file)
  picture.file = file
  picture.preview = result
}

</script>

<template>
  <dialog
    id="create-product-modal"
    class="modal"
  >
    <div class="modal-box rounded w-max bg-gray-800">
      <div class="">
        <h3
          class="text-lg leading-6 font-medium"
        >
          Tambah Product
        </h3>
        <div class="my-2 border-b  border-gray-600 w-full" />
        <div class="space-y-2 mb-10">
          <div class="flex gap-4 mb-5">
            <div>
              <div class="rounded-lg h-32 w-32 bg-gray-300 flex justify-center items-center text-4xl">
                <img
                  v-if="picture.preview"
                  :src="picture.preview"
                  class="w-full h-full rounded-lg object-cover"
                  alt="picture"
                >
                <span v-else>A</span>
              </div>
            </div>
            <div>
              <span class="font-semibold block">Foto Product</span>
              <span class="text-sm text-zinc-400">Besar file: maksimum  5mb Ekstensi file yang diperbolehkan: .JPG .JPEG .PNG</span>
              <div class="mt-2">
                <input
                  id="picture"
                  type="file"
                  accept="image/*"
                  data-test="upload-picture"
                  hidden
                  @change="handleUpload"
                >
                <label
                  for="picture"
                  class="btn hover:text-white btn-outline w-max py-1 px-16 border border-zinc-300 text-white rounded"
                >
                  Pilih Foto
                </label>
              </div>
            </div>
          </div>
          <label class="space-y-2">
            <span class="text-sm">Name Product</span>
            <input
              v-model="product.name"
              class="input input-bordered w-full bg-gray-600 rounded"
              placeholder="Masukkan Name"
            >
          </label>
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text text-white">Pilih category product</span>
            </div>
            <select
              class="select select-bordered bg-gray-600"
              @change="handleSelectCategory($event.target.value)"
            >
              <option
                v-for="category in categories"
                :key="category.key"
                :value="category.key"
              >
                {{ category.title }}
              </option>
            </select>
          </label>
          <label class="space-y-2">
            <span class="text-sm">Stock Product</span>
            <input
              v-model="product.stock"
              class="input input-bordered w-full bg-gray-600 rounded"
              placeholder="Masukkan Stock"
              type="number"
            >
          </label>
          <label class="space-y-2">
            <span class="text-sm">Price Product</span>
            <input
              v-model="product.price"
              class="input input-bordered w-full bg-gray-600 rounded"
              placeholder="Masukkan Price"
              type="number"
            >
          </label>
        </div>
      </div>
      <div class="flex justify-end gap-2">
        <div
          class="relative inline-block cursor-pointer text-sm font-medium text-primary group active:text-orange-500 active:ring-primary focus:outline-none focus:ring"
          @click="handleAddProduct"
        >
          <span
            class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-primary group-hover:translate-y-0 group-hover:translate-x-0"
          />
          <span class="relative flex justify-center items-center gap-1 px-4 py-2 bg-gray-700 border border-current">
            <span
              v-if="product.isLoading"
              class="loading loading-spinner loading-sm"
            />
            Tambah
          </span>
        </div>
        <div
          class="relative inline-block cursor-pointer text-sm font-medium text-zinc-300 group active:text-zinc-200 focus:outline-none focus:ring"
          @click="closeModal(props.id)"
        >
          <span
            class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-zinc-300 group-hover:translate-y-0 group-hover:translate-x-0"
          />
          <span class="relative block px-4 py-2 bg-gray-700 border border-current">
            Kembali
          </span>
        </div>
      </div>
    </div>
  </dialog>
</template>
