<script setup>
import loadingPage from '@/components/loading.vue'

import { useLoadingStore } from '@/stores/loading.store.js'

const loadingStore = useLoadingStore()

</script>

<template>
  <template v-if="loadingStore.isLoading">
    <loading-page />
  </template>
  <template v-else>
    <router-view />
  </template>
</template>
