<template>
  <div class="form-control w-full">
    <label
      v-if="label"
      class="label"
      :for="id"
    >
      <span
        v-if="label"
      >{{ label }}</span>
    </label>
    <label
      class="input input-bordered bg-gray-600 rounded flex items-center gap-2 w-full p-3 h-11"
      :class="[inputClass,{'input-error': $slots.error}]"
    >
      <template v-if="icon && !iconEnd">
        <i :class="icon" />
      </template>

      <input
        :id="id"
        :value="modelValue"
        :name="name"
        :type="type"
        :placeholder="placeholder"
        :disabled="disabled"
        class="w-full bg-gray-600"
        @input="handleInput"
        @change="$emit('change')"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
        @keypress="handleNumberOnly"
        @keypress.enter="$emit('enter')"
      >
      <template v-if="icon && iconEnd">
        <i :class="icon" />
      </template>

    </label>

    <label
      v-if="$slots.error"
      class="label"
    >
      <div class="label-text-alt text-error">
        <slot name="error" />
      </div>
    </label>

    <label
      v-else-if="$slots.success"
      class="label"
    >
      <div class="label-text-alt text-success">
        <slot name="success" />
      </div>
    </label>
  </div>
</template>

<script setup>
const props = defineProps({
  modelValue: {
    type: [String, Number],
    default: ''
  },
  type: {
    type: String,
    default: 'text'
  },
  icon: {
    type: String,
    default: ''
  },
  iconEnd: {
    type: Boolean,
    default: false
  },
  name: {
    type: String,
    default: ''
  },
  disabled: {
    type: Boolean,
    default: false
  },
  placeholder: {
    type: String,
    default: ''
  },
  label: {
    type: String,
    default: ''
  },
  inputClass: {
    type: String,
    default: ''
  },
  id: {
    type: String,
    default: 'input'
  },
  isNumberOnly: {
    type: Boolean,
    default: false
  }
})

const emits = defineEmits(['update:modelValue', 'input', 'change', 'blur', 'enter', 'focus'])

function handleInput (event) {
  emits('update:modelValue', event.target.value)
  emits('input', event.target.value)
}

function handleNumberOnly (event) {
  if (!props.isNumberOnly) return
  if (!(event.keyCode >= 48 && event.keyCode <= 57)) {
    event.preventDefault()
  }
}

</script>
