<script setup>
import sidebar from '@/layout/sidebar/sidebar.vue'
import navbar from '@/layout/navbar/navbar.vue'

</script>

<template>
  <navbar />
  <div class="flex w-full">
    <sidebar />
    <div class="w-full">
      <router-view />
    </div>
  </div>
</template>
